.Dictionary {
  text-align: center;
  margin: 100px;
  border: 1px solid green;
  border-radius: 20px 100px;
  padding: 20px;
}
.Dictionary form {
  margin: 50px auto 30px;
}
.Dictionary:hover {
  color: white;
  transition: all 200ms ease-in-out;
  background: rgb(201, 222, 150);
  background: -moz-linear-gradient(
    -45deg,
    rgba(201, 222, 150, 1) 0%,
    rgba(138, 182, 107, 1) 44%,
    rgba(57, 130, 53, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(201, 222, 150, 1) 0%,
    rgba(138, 182, 107, 1) 44%,
    rgba(57, 130, 53, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(201, 222, 150, 1) 0%,
    rgba(138, 182, 107, 1) 44%,
    rgba(57, 130, 53, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 );
}
